---
// @ts-ignore
import { css } from '/styled-system/css';

const projectGridStyle = css({
	display: 'grid',
	gap: {
		base: '2.5rem',
		lg: '4.30rem 1.5rem'
	},
	gridTemplateColumns: {
		base: '1fr',
		md: 'repeat(2, 1fr)'
	},	
})
---

<div class={projectGridStyle}>
	<slot />
</div>
