---
---

<div class="project-stack text-neutral-100 flex content-start flex-wrap gap-[0_1.125rem] text-0 font-normal leading-[1.55] mb-5 lg:mb-0 md:min-h-28 lg:min-h-auto uppercase">
  <slot />
</div>
