---

---

<div class="lg:bg-neutral-900/75 flex lg:flex-col gap-8 lg:justify-center lg:items-center lg:opacity-0 lg:invisible lg:w-full lg:h-full transition-all duration-300 group-hover:lg:opacity-100 group-hover:lg:visible project-actions">
  <slot />
</div>
