---
// @ts-expect-error: panda-css missing declaration types
import { cx } from '/styled-system/css';
import { projectActionsStyle } from './Projects.styles';
---

<div class={cx(projectActionsStyle, 'project__actions')}>
  <slot />
</div>
