---
// @ts-expect-error: panda-css missing declaration types
import { css } from '/styled-system/css';
import { heroTitleStyles } from './Hero.styles';
import type { HeroTitleProps } from './Hero.types';

const { name } = Astro.props as HeroTitleProps;
---

<div class={heroTitleStyles}>
  <div>
    <span>Nice to</span>{' '}
    <span class={css({ whiteSpace: { base: 'wrap', md: 'nowrap' } })}>
      meet you! I'm
    </span>{' '}
    <h1>{name}</h1>.
  </div>
</div>
