---
import Container from '@components/Container';
import { heroRootStyle } from './Hero.styles';
---

<div id="hero" class={heroRootStyle}>
  <Container align="mobileCenter">
    <slot />
  </Container>
</div>
