---
// @ts-ignore
import { css } from '/styled-system/css';

const contactGridStyle = css({
  display: 'grid',
  gap: {
    lg: '13.75rem',
  },
  gridTemplateColumns: {
    base: '1fr',
    lg: 'repeat(2, 1fr)',
  },
});
---

<div class={contactGridStyle}>
  <slot />
</div>
