---
import { t, setDefaultNamespace } from 'i18next';
import { experienceTextStyle } from './Experience.styles';

interface Props {
  yearsOfExperience: number;
}

const { yearsOfExperience } = Astro.props;

setDefaultNamespace('experience');
---

<p class={experienceTextStyle}>
  {t('yearsOfExperience', { count: yearsOfExperience })}
</p>
