---

interface Props {
	name: string;
}

const { name } = Astro.props;
---

<p class="text-white text-5 font-bold tracking-[-0.0625rem] lg:tracking-[-0.09375rem] leading-[1.25] lg:leading-[1.16]">{name}</p>
