---
// @ts-ignore
import { css } from '/styled-system/css';

const experienceRootStyle = css({	
	position: 'relative',	
})
---

<section id="experience" class={experienceRootStyle}>
	<slot />
</section>
