---

interface Props {
	yearsOfExperience: number;
}

const { yearsOfExperience } = Astro.props;
---

<p class="text-neutral-200 text--1 lg:text-0 font-normal leading-[1.62] lg:leading-[1.55]">
  <Fragment>
    {
      yearsOfExperience < 2
        ? yearsOfExperience + ' year'
        : yearsOfExperience + ' years'
    }
  </Fragment>
</p>
