---
import { experienceTextStyle } from './Experience.styles';

interface Props {
  yearsOfExperience: number;
}

const { yearsOfExperience } = Astro.props;
---

<p class={experienceTextStyle}>
  <Fragment>
    {
      yearsOfExperience < 2
        ? yearsOfExperience + ' year'
        : yearsOfExperience + ' years'
    }
  </Fragment>
</p>
